$green: #00eb5e;
$dark-green: rgb(15, 46, 15);
$light-green: #c7fcca;
$white: #ffffff;
$navy: rgb(34, 28, 70);
$yellow: rgb(253, 222, 53);
$light-yellow: #fdeec1;
$salmon: #fff2d9;
$blue: #1b51dc;
$light-blue: #dcf4fa;
$light-red: #fadddb;
$gray: #d3d2da;
$black: #000000;
