<%- include('includes/head.ejs') %>

  <header class="header">
    <%- include('includes/navigation.ejs') %>
  </header>

  <main class="main">

    <h1 class="main__title">Witaj na głównej stronie</h1>

  </main>

  <%- include('includes/footer.ejs') %>