<%- include('includes/head.ejs') %>

  <header class="header">
    <%- include('includes/navigation.ejs') %>
  </header>

  <main class="main">

    <section class="section search" id="search">
      <div class="search__wrapper">
        <input type="text" class="search__input" placeholder="Wyszukaj...">
        <a href="find.html" class="search__button"><i class="fa-solid fa-magnifying-glass search__icon"></i></a>
      </div>

      <div class="search__iconsWrapper">
        <div class="search__iconWrapper">
          <span class="search__number search__number--one">0</span>
          <p class="search__text">wyszukiwań</p>
        </div>
        <div class="search__iconWrapper">
          <span class="search__number search__number--two">0</span>
          <p class="search__text">zapisanych</p>
        </div>
        <div class="search__iconWrapper">
          <span class="search__number search__number--three">0</span>
          <p class="search__text">ponowień</p>
        </div>
      </div>

    </section>

  </main>

  <%- include('includes/footer.ejs') %>