*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Jura", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.nav__wrapper {
  width: 100vw;
  height: 15vh;
  background-color: rgb(253, 222, 53);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.nav__item {
  font-size: 3rem;
  list-style-type: none;
  transition: transform 0.4s;
}
.nav__item:hover {
  transform: scale(1.1);
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(34, 28, 70);
}

.main {
  width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__title {
  font-size: 10rem;
  color: rgb(15, 46, 15);
}

.addTrash__form {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(253, 222, 53);
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}

.form__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.form__label {
  font-size: 3rem;
}
.form__input {
  width: 300px;
  background-color: #fdeec1;
  border: none;
  border-bottom: 2px solid rgb(15, 46, 15);
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1rem;
  transition: background-color 0.4s, color 0.4s;
}
.form__input:focus {
  outline: none;
  background-color: rgb(15, 46, 15);
  color: #ffffff;
}
.form__btn {
  width: 250px;
  height: 50px;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(15, 46, 15);
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  opacity: 0.9;
  transform: opacity 0.4s;
  font-family: inherit;
}
.form__btn:hover {
  opacity: 1;
}
.form__btn:active {
  transform: scale(1.05);
}
.form__btn:focus {
  outline: none;
  opacity: 1;
}

.allTrash__pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.allTrash__itemWrapper {
  width: 300px;
  height: 500px;
  margin: 2rem;
  transition: transform 0.4s, box-shadow 0.4s;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.allTrash__itemWrapper:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.5);
}
.allTrash__imgWrapper {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
.allTrash__trashImageURL {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.allTrash__imgShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.allTrash__textWrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.allTrash__trashName {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem;
}
.allTrash__trashType {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.5rem;
}
.allTrash__trashDescription {
  font-size: 1.3rem;
  padding: 1.5rem;
  margin-left: 3rem;
  display: flex;
  justify-content: flex-end; /* Aligns items horizontally to the right */
  align-items: center;
  text-align: justify;
  margin-bottom: 3rem;
}

.search {
  position: relative;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__wrapper {
  position: relative;
}
.search__button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgb(15, 46, 15);
  opacity: 0.5;
  border: none;
  background-color: transparent;
  transform: opacity 0.4s;
  cursor: pointer;
}
.search__button:focus {
  outline: none;
  opacity: 1;
}
.search__button:hover {
  opacity: 1;
}
.search__input {
  width: 60vw; /* Adjust as needed */
  padding: 2rem;
  height: 100px;
  font-size: 3rem;
  border: none;
  border-bottom: 1px solid rgb(15, 46, 15);
  outline: none;
  font-family: inherit;
  background: linear-gradient(to right, rgb(253, 222, 53) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.search__input:focus {
  background-position: 0 0;
}
.search__iconsWrapper {
  position: absolute;
  bottom: 0;
  display: flex;
}
.search__iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  margin-bottom: 10rem;
  color: rgb(15, 46, 15);
  font-size: 3rem;
}
.search__number {
  font-size: 5rem;
  font-weight: bold;
}
.search__text {
  margin-top: 2rem;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */